

/*
 * global CSS
 *
 */

/* ==========================================================================
   Base styles
   ========================================================================== */
html {
	color:$textColor;
	font-family: $baseFontFamily;
	/*font-size: 1em; */
	font-size: 100%; /* Global base font-size default */
	line-height: $baseLineHeight;
}
body {
    font-size: 1em;
	background-color: #ddd;
	font-family: 'Stoke', serif;
    min-height: 5000px;

    padding-top: 120px;
}

.wrapper, .inner{
    margin: 0 auto;
    max-width: 960px;
    padding: 0;
    position: relative;
}

/*ie8 with box sizing, max-width and padding messes up the total witdh */


/* ==========================================================================
   Header
   ========================================================================== */

header{
    position: fixed; 
    top: 0; left: 0;
    width: 100%;
    z-index: 100;
	background: #cbcbcb;
	height: 120px;
	@include transition(height, .5s, ease-in-out);
    .inner{
    	height: 100%;
    }
}
.fixed{
	header{
		//position: fixed;   
		height: 80px;
	}
	nav{
		padding-top: 30px;
	}
	.logo{
	    left: 15px; top: 5px;
	    img{
	    	width: 55%;
	    }
	}
}
.logo{
    position: absolute;
    left: 10px; top: 10px;
    @include transition(all, .5s, ease-in-out);
    img{
    	width: 85%;
    	@include transition(all, .5s, ease-in-out);
    }
}

nav{
	float: right;
	padding-top: 50px;
	@include transition(padding, .5s, ease-in-out);
	a{
		float: left;
		display: inline-block;
		padding: 0 15px;
	}
}


/* ==========================================================================
   Site Content wrapper
   ========================================================================== */
.wrapper, .inner{
    background: #eee;
}
main{
	padding: 0 30px 40px;
}
.banner{
	margin: 0 -30px 20px;
	img{max-width: 100%;}
}
.block{
	margin: 0 0 20px;
}


/* ==========================================================================
   Footer
   ========================================================================== */

footer{

}

