<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../normalize.css">
        <!-- <link rel="stylesheet" href="styles.css"> -->
        <!--<script src="js/vendor/modernizr-2.6.2.min.js"></script>-->


        <script src="angular.min.js"></script>
    </head>
    <body>


        <div ng-app="myApp">
            <div ng-controller="MainCtrl">
                {{ text }}
            </div>
            <div ng-controller="UserCtrl">
                <p class="username">Welcome, {{ user.details.username }}</p>
                <p class="id">User ID: {{ user.details.id }}</p>
            </div>
        </div>

        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script>

            var myApp = angular.module('myApp', []);

            myApp.controller('MainCtrl', ['$scope', function ($scope) {
                
                $scope.text = 'Hello, Angular fanatic.';
                
            }]);

            myApp.controller('UserCtrl', ['$scope', function ($scope) {
    
                // Let's namespace the user details
                // Also great for DOM visual aids too
                $scope.user = {};
                $scope.user.details = {
                  "username": "Todd Motto",
                  "id": "89101112"
                };
                
            }]);


        </script>


    </body>
</html>
